################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/WebApp/.vs
/code/Core/HospitalManagement.Core.Common/bin
/code/Core/HospitalManagement.Core.Common/obj
/code/WebApp/HospitalManagement/bin
/code/WebApp/HospitalManagement.Common/bin
/code/WebApp/HospitalManagement.Services/obj
/code/WebApp/HospitalManagement/obj
/code/WebApp/HospitalManagement.Common/obj
