################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/WebApp/.vs
/code/Core/HospitalManagement.Core.Common/bin
/code/Core/HospitalManagement.Core.Common/obj
/code/WebApp/HospitalManagement/bin
/code/WebApp/HospitalManagement.Common/bin
/code/WebApp/HospitalManagement.Services/obj
/code/WebApp/HospitalManagement/obj
/code/WebApp/HospitalManagement.Common/obj
/code/DataProvider/.vs/HospitalManagement.DataProvider.Server/FileContentIndex
/code/WebApp/HospitalManagement.Services/bin/Debug/net7.0
/code/DataProvider/HospitalManagement.Repository/obj
/code/DataProvider/HospitalManagement.Dataprovider.Services/obj
/code/DataProvider/.vs/HospitalManagement.DataProvider.Server/v17
/code/DataProvider/HospitalManagement.DataProvider.Common/bin/Debug/net7.0
/code/DataProvider/HospitalManagement.DataProvider.Server/bin/Debug/net7.0
/code/DataProvider/HospitalManagement.Dataprovider.Services/bin/Debug/net7.0
/code/DataProvider/HospitalManagement.Repository/bin/Debug/net7.0
