<div nz-row [nzGutter]="12" class="admin_data">
  <div nz-col [nzSpan]="12">
    <nz-card class="header_text" style="height: 48vh;" nzTitle="Headoffice Details">
      <app-head-office></app-head-office>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="12">
    <nz-card class="header_text" style="height: 48vh;" nzTitle="Branch office Details">
      <app-branch-office></app-branch-office>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="12">
    <nz-card class="header_text" style="height: 60vh;" nzTitle="Doctor Details">
      <app-doctor-details></app-doctor-details>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="12">
    <nz-card class="header_text" style="height: 60vh;" nzTitle="Patient Details">
      <app-patient-details></app-patient-details>
    </nz-card>
  </div>
</div>