
<form nz-form [formGroup]="BranchDetailsForm"  (ngSubmit)="submitForm()">
   
    <nz-form-item > 
      <nz-form-label [nzSpan]="10" nzRequired>Headoffice Name:</nz-form-label>
      <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating...">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Headoffice Name" formControlName="HeadofficeList">
          <nz-option *ngFor="let headOffice of _commonService.headOfficeFormData" [nzLabel]="headOffice.HeadOfficeName" [nzValue]="headOffice.HeadOfficeName"></nz-option>
        </nz-select>       
      </nz-form-control>
    </nz-form-item>
  
  
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Branch Name:</nz-form-label>
      <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="BranchName" type="text" id="number" placeholder="Enter Branch Name" />
      </nz-form-control>
    </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Branch code:</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="Branchcode" type="number" id="number" placeholder="Enter Branch code" />
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item >
        <nz-form-label [nzSpan]="10" nzRequired>Branch Services:</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="BranchServices" type="text" id="text" placeholder="Enter Branch Services" />
        </nz-form-control>
      </nz-form-item>
  
  
      <nz-form-item >
        <nz-form-label [nzSpan]="10" nzRequired>Manager name:</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="Managername"  type="text" id="text" placeholder="Enter Manager name" />
        </nz-form-control>
      </nz-form-item>
   
  
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Address:</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="Address"  type="text" id="text" placeholder="Enter Address" />
        </nz-form-control>
      </nz-form-item>
  
   
      <nz-form-item >
        <nz-form-label [nzSpan]="10" nzRequired>Mobile No:</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="The input is not valid Mobile Number!">
          <input nz-input formControlName="MobileNo"  type="number" id="number" placeholder="Enter Mobile No" />
        </nz-form-control>
      </nz-form-item>
     
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>E-mail :</nz-form-label>
        <nz-form-control [nzSpan]="5" nzHasFeedback nzValidatingTip="Validating... " nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" placeholder="Enter email" />
        </nz-form-control>
      </nz-form-item>
     
      <nz-form-item>
        <nz-form-control [nzOffset]="10" [nzSpan]="5" >
          <div style="display: flex; justify-content:flex-end; gap: 10px; margin-left: 50px;">
          <button  nz-button (click)="resetForm($event)">Reset</button>
          <button nz-button nzType="primary" [disabled]="!BranchDetailsForm.valid">Submit</button>
        </div>
        </nz-form-control>
      </nz-form-item>
  
    </form>  