<div class="patient-Details">
  <button nz-button nzType="primary" nz-dropdown nz-size="small" nzTrigger="click" [nzDropdownMenu]="menu">
    Add patient Details
    <span nz-icon nzType="down"></span></button>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <form nz-form [formGroup]="patientDetailsForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Select Doctor :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">

        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Doctor" formControlName="doctorNamelist">
          <nz-option *ngFor="let doctorName of _commonService.doctorDetailsFormData" [nzLabel]="doctorName.doctorName"
            [nzValue]="doctorName.doctorName"></nz-option>
        </nz-select>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired> Patient Name :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="PatientName" type="text" id="text" placeholder="Enter Patient Name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Age :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="Age" type="number" id="number" placeholder="Enter age" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Registration Date :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="RegistrationDate" type="date" id="date"
          placeholder="Enter Registration Date" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Reason for visit :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="Reasonforvist" type="text" id="text" placeholder="Enter Reason" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Address :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="Address" type="text" id="text" placeholder="Enter Address" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Mobile No :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating..."
        nzErrorTip="The input is not valid Mobile Number!">
        <input nz-input formControlName="MobileNumber" type="number" id="number" placeholder="Enter Mobile No" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>E-mail :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating... "
        nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" placeholder="Enter email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Languages Know :</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <nz-select formControlName="languageKnow" nzPlaceHolder="Select Language">
          <nz-option nzValue="Telugu" nzLabel="Telugu"></nz-option>
          <nz-option nzValue="Kanada" nzLabel="Kanada"></nz-option>
          <nz-option nzValue="Hindi" nzLabel="Hindi"></nz-option>
          <nz-option nzValue="Tamil" nzLabel="Tamil"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Gender:</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <nz-select formControlName="Gender" nzPlaceHolder="Select Gender">
          <nz-option nzValue="Male" nzLabel="Male"></nz-option>
          <nz-option nzValue="Female" nzLabel="Female"></nz-option>
          <nz-option nzValue="others" nzLabel="others"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>BloodGroup:</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <nz-select formControlName="BloodGroup" nzPlaceHolder="Select BloodGroup">
          <nz-option nzValue="o+positive" nzLabel="o+positive"></nz-option>
          <nz-option nzValue="o-nagitive" nzLabel="o-nagitive"></nz-option>
          <nz-option nzValue="A+positive" nzLabel="A+positive"></nz-option>
          <nz-option nzValue="A-nagitive" nzLabel="A-nagitive"></nz-option>
          <nz-option nzValue="B+nagitive" nzLabel="B+nagitive"></nz-option>
          <nz-option nzValue="B+nagitive" nzLabel="B-nagitive"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="10" nzRequired>Marital Status:</nz-form-label>
      <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
        <nz-select formControlName="maritalStatus" nzPlaceHolder="Select maritalStatus">
          <nz-option nzValue="Married" nzLabel="Married"></nz-option>
          <nz-option nzValue="Unmarried" nzLabel="Unmarried"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="10" [nzSpan]="5">
        <div style="display: flex; justify-content:flex-end; gap: 10px; margin-left: 50px;">
          <button nz-button (click)="resetForm($event)">Reset</button>
          <button nz-button nzType="primary" [disabled]="!patientDetailsForm.valid">Submit</button>
        </div>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-dropdown-menu>

<div style="padding: 10px;" *ngIf="_commonService.patientDetailsFormData.length > 0">
  <nz-table #basicTable [nzData]="['']" [nzShowPagination]="false" nzSize="small" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Select Doctor</th>
        <th>Patient Name</th>
        <th>Age</th>
        <th>Registration Date</th>
        <th>Reason for visit</th>
        <th>Address</th>
        <th>Mobile No</th>
        <th>Email</th>
        <th>Language Known</th>
        <th>Gender</th>
        <th>Blood Group</th>
        <th>Marital Status</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of _commonService.patientDetailsFormData;let i=index">

        <td>{{product.doctorNamelist}}</td>
        <td>{{product.PatientName}}</td>
        <td>{{product.Age}}</td>
        <td>{{product.RegistrationDate}}</td>
        <td>{{product.Reasonforvist}}</td>
        <td>{{product.Address}}</td>
        <td>{{product.MobileNumber}}</td>
        <td>{{product.email}}</td>
        <td>{{product.languageKnow}}</td>
        <td>{{product.Gender}}</td>
        <td>{{product.BloodGroup}}</td>
        <td>{{product.maritalStatus}}</td>
        <td>
          <button nz-button nzType="primary" (click)="showEditModel(i)" nz-tooltip nzTooltipTitle="Edit"><span nz-icon
              nzType="edit" nzTheme="outline"></span></button>
          <button nz-button nzType="primary" nzDanger (click)="deleteData(i)" class="buttons" nz-tooltip
            nzTooltipTitle="Delete"><span nz-icon nzType="delete" nzTheme="outline"></span></button>

        </td>

      </tr>

    </tbody>
  </nz-table>
</div>

<div style="text-align: center; position: absolute; left: 50%; top: 50%;"
  *ngIf="_commonService.patientDetailsFormData.length === 0">
  <h2>No Data Available</h2>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="patientDetails" (nzOnCancel)="handleCancel()" nzWidth="400px">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="patientDetailsForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Select Doctor :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">

          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Doctor" formControlName="doctorNamelist">
            <nz-option *ngFor="let doctorName of _commonService.doctorDetailsFormData" [nzLabel]="doctorName.doctorName"
              [nzValue]="doctorName.doctorName"></nz-option>
          </nz-select>

        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired> Patient Name :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="PatientName" type="text" id="text" placeholder="Enter Patient Name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Age :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="Age" type="number" id="number" placeholder="Enter age" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Registration Date :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="RegistrationDate" type="date" id="date"
            placeholder="Enter Registration Date" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Reason for visit :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="Reasonforvist" type="text" id="text" placeholder="Enter Reason" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Address :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <input nz-input formControlName="Address" type="text" id="text" placeholder="Enter Address" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Mobile No :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating..."
          nzErrorTip="The input is not valid Mobile Number!">
          <input nz-input formControlName="MobileNumber" type="number" id="number" placeholder="Enter Mobile No" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>E-mail :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating... "
          nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" placeholder="Enter email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Languages Know :</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <nz-select formControlName="languageKnow" nzPlaceHolder="Select Language">
            <nz-option nzValue="Telugu" nzLabel="Telugu"></nz-option>
            <nz-option nzValue="Kanada" nzLabel="Kanada"></nz-option>
            <nz-option nzValue="Hindi" nzLabel="Hindi"></nz-option>
            <nz-option nzValue="Tamil" nzLabel="Tamil"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Gender:</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <nz-select formControlName="Gender" nzPlaceHolder="Select Gender">
            <nz-option nzValue="Male" nzLabel="Male"></nz-option>
            <nz-option nzValue="Female" nzLabel="Female"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>BloodGroup:</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <nz-select formControlName="BloodGroup" nzPlaceHolder="Select BloodGroup">
            <nz-option nzValue="o+positive" nzLabel="o+positive"></nz-option>
            <nz-option nzValue="o-nagitive" nzLabel="o-nagitive"></nz-option>
            <nz-option nzValue="A+positive" nzLabel="A+positive"></nz-option>
            <nz-option nzValue="A-nagitive" nzLabel="A-nagitive"></nz-option>
            <nz-option nzValue="B+nagitive" nzLabel="B+nagitive"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired>Marital Status:</nz-form-label>
        <nz-form-control [nzSpan]="14" nzHasFeedback nzValidatingTip="Validating...">
          <nz-select formControlName="maritalStatus" nzPlaceHolder="Select maritalStatus">
            <nz-option nzValue="Married" nzLabel="Married"></nz-option>
            <nz-option nzValue="Unmarried" nzLabel="Unmarried"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzOffset]="10" [nzSpan]="5">
          <div style="display: flex; justify-content:flex-end; gap: 10px; margin-left: 50px;">
            <button nz-button (click)="resetForm($event)">Reset</button>
            <button nz-button nzType="primary" [disabled]="!patientDetailsForm.valid">Submit</button>
          </div>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" nz-size="small" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" nz-size="small" (click)="submitForm()">Submit</button>
  </ng-container>
</nz-modal>