<div class="header">
  <div class="left-header">
    <div class="collapse-icon">
      <span class="header-trigger" (click)="updateSidebar()">
        <i class="trigger" nz-icon [nzType]="_commonService.isSidebarCollapsed ? 'menu-unfold' : 'menu-fold'"
          [title]="_commonService.isSidebarCollapsed ? 'Expand' : 'Collapse'"></i>
      </span>
    </div>
  </div>

  <div class="right-header">
    <nz-select [(ngModel)]="selectedTheme" (ngModelChange)="loadTheme()">
      <nz-option *ngFor="let theme of themeOptions" [nzLabel]="theme.label" [nzValue]="theme.value"></nz-option>
    </nz-select>

    <div class="user-info" *ngIf="environment.userauthentication && _authService.userInfo">
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="userInfoMenu" class="user-info">
        <span>{{_authService.userInfo?.name}}</span>
        <nz-avatar nzIcon="user"></nz-avatar>
        <i nz-icon nzType="caret-down" nzTheme="outline"></i>
      </a>
    </div>
  </div>
</div>

<nz-dropdown-menu #userInfoMenu="nzDropdownMenu">
  <ul nz-menu *ngIf="_authService.userInfo?.name !== undefined">
    <li nz-menu-item>
      {{_authService.userInfo?.name}}
    </li>
    <li nz-menu-item (click)="_authService.logout()">
      Logout
    </li>
  </ul>
</nz-dropdown-menu>


